<div class="center jumbotron">
   <h1>古田航輔のサンプルアプリ（仮称）</h1>

   <h2>
      古田航輔が作成したサンプルアプリケーション
      <a href= "https://github.com/furu-kou/sampel_app/">GITHUB</a>
      のコードです！
   </h2>

   <%= link_to "ログイン", signup_path, class: "btn btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<%= link_to image_tag("kitten.jpg"), alt: "猫" %>
